:root{
	--defaultfont: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	--colorFontOne: white;
	--colorFontTwo: gray;
	--colorbackground: #141414
  }

body {
	font-family: var(--defaultfont);
	background-color: var(--colorbackground);
	color: white;
}
  
.topo img{
	width: 10%;
	margin: 1% 0 0 3%;
}
	  
footer {
	text-align: center;
}
  
footer button {
	margin-top: 10%;
	color: var(--colorFontTwo);
	font-size: 2rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
	text-transform: uppercase;
	background-color: var(--colorbackground);
	border-color: var(--colorFontTwo);
}
  
footer button:hover {
	cursor: pointer;
	color: var(--colorFontOne);
	border-color: var(--colorFontOne);
}

div.pg-home {
	max-width: 858px;
	margin: 10% auto 0 auto;
}
  
section {
	max-width: 858px;
	margin: 0 auto;
}
  
section header {
	align-items: center;
}
  
section header h2 {
	font-size: 3.5rem;
	text-align: center;
	margin: 2rem;
}
  
.pg-home ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
}
  
li {
	max-width: 186px;
	max-height: 90%;
}
  
li figure img {
	width: 100%;
	margin: auto;
	padding: 0px;
}
	  
figure figcaption {
	display: none;
}
  
li h3 {
	font-family: var(--defaultfont);
	text-align: center;
	color: var(--colorFontTwo);
	font-size: 1.5rem;
	margin-top: 1.5rem;
}
  
.addPerfil figure img {
	width: 190px;
	height: 190px;
}
  
li:hover > figure img {
	cursor: pointer;
	border: 2px solid var(--colorFontOne);
	margin: -2px;
}
  
li:hover > h3 {
	cursor: pointer;
	color: var(--colorFontOne)
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
	:root {
		font-size: 11px;
	}
  
	.topo img {
		width: 20%;
	}
  
	.pg-home ul {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
  
	li figure img {
		max-width: 186px;
		max-height: 186px;
	}
  
	ul li {
		margin: 5%;
	}
}
  
@media all and (max-width: 480px) {
	:root {
		font-size: 10px;
	}
  
	.topo img {
		width: 20%;
	}
  
	.pg-home ul {
		width: 90%;
		margin: 0 auto;
	}
  
	ul li {
		margin: 0 5%;
	}
  
	li figure img {
		max-width: 100px;
		max-height: 100px;
	}
}